body {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #ffffff;
  line-height: 2;
  font-size: 0.875rem;

}
ul {
  list-style-type: none;
}

a {
  text-shadow: 3px 3px 3px #ababab;
  text-decoration: none;
}

nav {
  background-color: #ffffff;
  
  transition: 0.4s;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  
}

.fa-bars {
  font-size: 1.5rem;
  color: #080808;
  cursor: pointer;
}

.fa-bars:hover {
  color: black;
}

.menu a {
  color: rgb(23, 1, 1);
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.1s linear;
  text-align: left;
  
}

.menu a:hover {
  background: #c331a642;
  color: #e94949;
  padding-left: 1.5rem;
}

.menu {
  height: 0px;
  overflow: hidden;
  transition: all 0.9s linear;
}

.show-menu {
  height: 280px;
  line-height: 10px;
}

.nav-header {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 600px) {
  .nav-main {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }


.nav-header {
  padding: 0;
}
.fa-bars {
  display: none;
}

.menu {
  height: auto;
  display: flex;
}

.menu a {
  padding: 0;
  margin: 0 0.5rem;
}
.menu a:hover {
  padding: 0;
  background: transparent;
}

}



.container1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box1{
  background-color: #ffffff;
width: 400px;
height: 600px;
flex: 50%;
flex-grow: 1;
flex-basis: 300px;
margin-left: 30px;
margin-right: 30px;

}
.box2{

background-image: url(https://raw.githubusercontent.com/Rakibul-Rifat/portfolio/7be1708bd3bc0eb533268e994496b8a9838c0d9d/profile_picture.jpg);
background-position: center;
background-size: cover;

width: 400px;
height: 400px;
flex: 50%;
flex-grow: 1;
flex-basis: 300px;
margin-top: 60px;
margin-bottom: 60px;

}
.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box3{
  background-color: #ffffff;
  width: 400px;
  height: 600px;
  flex: 50%;
  flex-grow: 1;
  flex-basis: 300px;
  margin-left: 30px;
  margin-right: 30px;

  
}
.box4{
  background-color: #ffffff;
  height: 600px;
  flex: 50%;
  flex-grow: 1;
  flex-basis: 300px;
  margin-left: 30px;
  margin-right: 30px;

}
h1{
   font-family: "Trirong", serif;
  background-color: #080808;
  font-size: small;
  color: #ffffff;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  
}
h2{
     font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
  margin-left: 20px;
  margin-right: 80px;
  color: #080808;
  font-size: 30px;
  line-height: 10px;
}
p{
  margin-left: 20px;
  color: #080808;
}
h5{
   font-family: "Trirong", serif;
  margin-left: 20px;
  color: #080808;
}
.button1{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  width: 120px;
  height: 40px;
  border-radius: 4%;
  margin-left: 20px;
}
.button2{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #100101;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 4%;
  margin-left: 20px;
}
.button3{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  width: 120px;
  height: 40px;
  border-radius: 4%;
  margin-left: 20px;
}
.button1:hover {
  background-color: #04AA6D;
  color: white;
}
.button2:hover {
  background-color: #6182a3;
  color: white;
}
.button3:hover {
  background-color: #04AA6D;
  color: white;
}
hr{
  margin-left: 30px;
  
  background-color: #080808;
}
a{
   font-family: "Trirong", serif;
  margin-left: 20px;
  font-size: 15px;
  color: #080808;
}
@media (max-width: 500px) {
  .box1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 360px;
 margin: 10px;
  }
  .box2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 360px;
  }
  .box3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 360px;
    height: 500px;
  }
  .box4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    height: 800px;
    width: 360;
 
 
  }
  .title{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
  }
  h4{
    margin-left: 20px;
}
p,h2,a, .button1{
  text-align: start;
  margin-left: 20px;
}

}
.title{
  margin-top: 0;
  }
  .gap{
    padding: 40px;
    background-color: #ffffff;
  }
  h5{
    font-weight: 10px;
    line-height: 1px;
  }
  box-icon{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  h4{
    font-family: "Trirong", serif;
    text-align: start;
    margin-left: 20px;
  }
  input{
    margin-left: 30px;
     background-color: rgba(250, 253, 253, 0.388);
    line-height: 5px;
   width: 250px;
   height: 30px;
  margin-top: 10px;
  color: #0d0d0d;
  border: 2px, solid black;
  }
  button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
    background-color: #94c898;
    width: 120px;
    height: 40px;
    border-radius: 4%;
  }
  button:hover {
    background-color: #04AA6D;
    color: white;
  }
  .message{
    text-align: start;
    height: 60px;
  }
  fieldset{
    border: 2px, solid black;
    border-radius: 5%;
  }
  legend{
    text-align: start;
  }
  footer{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    background-color: #14131300;
    width: 100%;
    color: #efeded;
  }
  html{
    scroll-behavior: smooth;
  }
  .container3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box5{
    background-color: #ffffff;
   
    height: 400px;
    flex: 50%;
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 30px;
    margin-right: 30px;
  
    
  }
  .box6{
    background-color: #ffffff;
   text-align: start;
    height: 400px;
    flex: 50%;
    flex-grow: 1;
    flex-basis: 300px;
   
    margin-right: 30px;
  
  }
  @media (max-width: 500px) {
  .box5{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 360px;
    height: 360px;
    }
    .box6{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 10px;
      width: 360px;
      height: 400px;
      margin-top: 50px;
    }
   }
   .slideshow {
    position: relative;
    animation: fadeInFromLeft 1.5s ease;
  }
  
  .image__container img {
    animation: fadeInSlideshow 1s ease-in-out;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    
    background-position: center;
    background-size: cover;
  }
  
  @keyframes fadeInSlideshow {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
  }
/*this part is for testimonial slider animation*/
.bodyy {
  display: grid;
  place-items: center;
  height: 400px;
}
.client {
  text-align: center;
  color: var(--paynes-gray);
}
.testimonial-slider {
  background-color: #8db4da;
  height: 350px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  width: 40%;
 backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}
.testimonial-list {
  display: flex;
  overflow: hidden;
}
.testimonial {
  flex: 1 0 100%;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.testimonial .bi-quote {
  font-size: 2.5rem;
  color: var(--sunglow);
  opacity: 0.75;
}
.testimonial blockquote {
  font-size: 1rem;
}
.user-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.user-info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-details .name {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--dark-cyan);
}
.user-details .company {
  color: var(--muted-color);
}
/* dot navigation */
.dots-container {
  text-align: center;
}
.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-inline: 5px;
  background-color: var(--dot-color);
  transition: width 0.5s;
  border: #04AA6D;
}
.dot.active {
  width: 30px;
  background-color: var(--paynes-gray);
}
@media (min-width: 768px) {
  .testimonial .bi-quote {
    font-size: 4rem;
  }
  .testimonial blockquote {
    font-size: 1.25rem;
  }
  .nav {
    opacity: 0;
  }
  .testimonial-slider:hover .nav {
    opacity: 1;
  }
}
@media (max-width: 500px) {
.bodyy{
  margin: 0px 0px 0px 0px;

}
.testimonial-slider {
  height: 360px;
  width: 80%;
}
}
